<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linked2Mongo</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <form action="" class="mainForm">
        <h1>Linked2Mongo</h1>
        <center class="mainForm_center">

            <label for="name" class="mainForm_lbl_name">
                Name:
                <input type="text" name="name" id="mainForm_tb_name" class="mainForm_tb_name tb">
            </label>
            <label for="age" class="mainForm_lbl_age">
                Age:
                <input type="text" name="age" id="form_tb_age" class="mainForm_b_age tb">
            </label>
            <label for="city" class="form_lbl_city">
                City:
                <input type="text" name="city" id="form_tb_city" class="mainForm_tb_city tb">
            </label>
        </center>

        <submit class="mainForm_submit" id="mainForm_submit">Submit</submit>

        <div class="mainForm_alert" id="mainForm_alert">
             No message to display
        </div>

    </form>

    <script src="../controller/alerts.js"></script>
    <script src="../controller/formParser.js"></script>

</body>

</html>